.search-bar-custom {
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    padding-right: 0;
}

.search-bar-custom input[name="search-product"] {
    border: none;
    outline: none;
    flex: 1 1 auto;
    border-radius: 20px 0 0 20px;
    background: transparent;
    height: 40px;
}

.search-bar-custom button {
    border: none;
    background: #717fe0;
    border-radius: 0 20px 20px 0;
    height: 40px;
    min-width: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.search-bar-custom button:hover {
    background: #8d9cfc;
    color: #fff;
}

.search-bar-custom input::placeholder {
    color: #9298ba;
}

#review-list {
    height: 600px;
    overflow-y: auto;
    padding: 0px 30px;
}

.img-product {
    background-color: #d6dbde12;
    border-radius: 5px;
    border: 1px solid rgba(60, 0, 255, 0.113);
}

.js-show-modal1 {
    border: 1px solid rgba(60, 0, 255, 0.113);
}